<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa-regular fa-compass"></i></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <header>
      <div class="logo">SkillConnect</div>
      <nav>
          <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#categories">Categories</a></li>
              <li><a href="/courses">Courses</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
          </ul>
      </nav>
  </header>
  </div>
</nav>
