<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skill Connect - Mentee Registration</title>
    <link rel="stylesheet" href="/css/mentee_style/style.css" />
</head>
<body>

    <div class="container">
        <h2>Skill Connect - Mentee Registration Form</h2>
        <form action="/mentee_regis/add" method="POST">

            <!-- Personal Information -->
            <label for="name">Full Name: <span class = 'astrisk'>*</span></label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email Address: <span class = 'astrisk'>*</span></label>
            <input type="email" id="email" name="email" required>

            <label for="phone">Phone Number (optional):</label>
            <input type="tel" id="phone" name="phone">

            <label for="linkedin">LinkedIn Profile (optional):</label>
            <input type="url" id="linkedin" name="linkedin">

            <!-- Education and Professional Information -->
            <label for="institution">Current Academic Institution/Company: <span class = 'astrisk'>*</span></label>
            <input type="text" id="institution" name="institute" required>

            <label for="degree">Degree/Program: <span class = 'astrisk'>*</span></label>
            <input type="text" id="degree" name="degree" required>

            <label for="skills">Skills or Technologies You are Interested in Learning:</label>
            <textarea id="skills" name="interests" rows="4" required></textarea>

            <!-- Learning Goals -->
            <label for="motivation">Why do you want a mentor? <span class = 'astrisk'>*</span></label>
            <textarea id="motivation" name="whyWantMentor" rows="4" required></textarea>

            <label for="short-term-goals">What are your short-term learning goals? <span class = 'astrisk'>*</span></label>
            <textarea id="short-term-goals" name="shortTermLearningGoals" rows="4" required></textarea>

            <label for="long-term-goals">What are your long-term career aspirations? <span class = 'astrisk'>*</span></label>
            <textarea id="long-term-goals" name="longTermCareerAspirations" rows="4" required></textarea>

            <!-- Additional Information -->
            <label for="additional-info">Anything else you'd like to share with your mentor or the Skill Connect team?</label>
            <textarea id="additional-info" name="additionalInfo" rows="4"></textarea>

           
            <br><br>

            <!-- Submit Button -->
            <button type="submit" class="button">Submit</button>
        </form>
    </div>

</body>
</html>
